

<div class="row">
  <div class="medium-10 columns content-focus dev-sitemap">

    <h4>BLOCKING / LINKING / BASE STYLES</h4>

    <div class="row">
		  <div class="large-4 columns">
				<ul><!--  class="strike" -->
					<li class="strike"><a href="/">index / sidebar</a></li>
					<li class="strike"><a href="/messages">messages inbox</a></li>
					<li class="strike"><a href="/messages/_id">messages chat</a></li>
					<li class="strike"><a href="/contact">contact</a></li>
					<li class="strike"><a href="/about">about</a></li>
					<li class="strike"><a href="/register">new account</a></li>
					<li class="strike"><a href="/login">login</a></li>
					<li class="strike"><a href="/account/settings">account settings</a></li>
				</ul>
			</div>

      <div class="large-4 columns">
				<ul>
					<li class="strike"><a href="/profile/blue-note">org profile </a></li>
					<li class="strike"><a href="/profile/edit/new">org profile new</a></li>
					<li class="strike"><a href="/profile/edit/560efb1613c3126011405f5d">org profile edit</a></li>
					<li class="strike"><a href="/directory">directory index</a></li>
					<li class="strike"><a href="/directory/search/?neighborhood=paseo">directory list</a></li>
				</ul>
			</div>

		  <div class="large-4 columns">
				<ul>
					<li class="strike"><a href="/event/9-1-2015-natalie-syring">event detail </a></li>
					<li class="strike"><a href="/event/edit/new">event new</a></li>
					<li class="strike"><a href="/event/edit/560d988f2027d58c1f22d25b">event edit</a></li>
					<li class="strike"><a href="/calendar">event list (calendar)</a></li>
				</ul>
			</div>
		</div>

		<div class="row">
      <div class="large-4 columns">
				<ul>
					<li class="strike"><a href="/post/56aaaab0325e2d2c4144faef">content detail</a></li>
					<li class="strike"><a href="/post/edit/new">content new</a></li>
					<li class="strike"><a href="/post/edit/56aaaab0325e2d2c4144faef">content edit</a></li>
					<li class="strike"><a href="/feed">content list (feed)</a></li>
				</ul>
			</div>

		  <div class="large-4 columns">
				<ul>
					<li class="strike"><a href="/people/jy">personal profile</a></li>
					<li><a href="/people">people index</a></li>
					<li><a href="/people/s/querystring">people search</a></li>
				</ul>
			</div>

      <div class="large-4 columns">
<!--
      <div class="large-4 columns">
				<ul>
					<li><a href="/classifieds/item/urltitle">classifieds detail</a></li>
					<li><a href="/classifieds/new">classifieds new</a></li>
					<li><a href="/classifieds/edit/_id">classifieds edit</a></li>
					<li><a href="/classifieds">classifieds index</a></li>
					<li><a href="/classifieds/s/querystring">classifieds list</a></li>
				</ul>
			</div>
-->

			</div>
		</div>













  </div>
  <div class="medium-2 columns sidebar">
    {{> sidebar}}

  </div>
</div>

